{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

<!-- Page title block -->
{% block title %}
  <title>Branches Update</title>
{% endblock title %}

<!-- Internal css block -->
{% block css %}
			
{% endblock css %}

<!-- Main content page block -->
{% block page %}

{% if messages %}
  {% for message in messages %}
  <div class="alert alert-dismissible fade show {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% endif %}

<div class="form-table-area">
  <!-- table-title -->
  <div class="form-table-title">
    <div class="row">
      <div class="">
        <div class="form-title-name">
          <h5 class="mb-0 fw-bold">
            Branches Update
          </h5>
        </div>
      </div>
    </div>
  </div>
  <!-- table-title -->
  <div class="forms-tables" id="">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-4">
          {{form.mother_organization|as_crispy_field}}
        </div>
        <div class="col-md-4">
          {{form.sister_organization|as_crispy_field}}
        </div>
        <div class="col-md-4">
          {{form.division|as_crispy_field}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          {{form.district|as_crispy_field}}
        </div>
        <div class="col-md-4">
          {{form.upazila|as_crispy_field}}
        </div>
        <div class="col-md-4">
          {{form.name_english|as_crispy_field}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          {{form.name_bengali|as_crispy_field}}
        </div>
        <div class="col-md-4">
          {{form.address_details|as_crispy_field}}
        </div>
      </div>
      <div class="row" style="margin-top: 0px;margin-bottom: 8px;">
        <div class="col-md-12 text-center">
          <button type="submit" class="form-submit-cus-btn" >Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- table-area  -->
{% endblock %}

<!-- Internal JS block -->
{% block js %}
<script type=text/javascript>
  var districts_url = "{% url 'ajax_load_districts' %}"
  var upazilas_url = "{% url 'ajax_load_upazilas' %}"
  var ajax_load_sister_organization_url = "{% url 'ajax-load-sister-organization' %}"
</script>
<script src="{% static 'start_app/rbac_app/registrations/sister_organizations/update.js' %}"></script>
{% endblock %}