<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="UTF-8">
		{% block title %}
			<title></title>
		{% endblock title %}
		<!-- Meta Tag -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="Responsive, Multipurpose, one page, Portfolio, Business">
		<meta name="description" content="Responsive HTML Business Template">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800;900&display=swap" rel="stylesheet">
		<!-- CSS style  links-->
		{% include "partials/__css.html" %}

		{% block css %}
			
		{% endblock css %}

	</head>

	<body>
		<!-- loader -->
		<div class="loaders">
			<div class="loader"></div>
		</div>
		<!-- main-area -->
		<section class="main-area">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 p-0">
						<!-- menu -->
						<div class="menu-area fixed-menu">
							<div class="closes"><i class="fa fa-times" aria-hidden="true"></i></div>
							{% include "partials/__sidebar.html" %}
						</div>
						<!-- menu -->
						<!-- main-contents -->
						<div class="main-contents">
							<!-- header-area -->
							<div class="header-area">
								{% include "partials/__header.html" %}
							</div>
							<!-- header-area -->
							<!-- contents -->
							<div class="contents">
								<!-- Breadcrumb -->
								<div class="breadcrumb-area">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
											<li class="breadcrumb-item"><a href="#">Department</a></li>
											<li class="breadcrumb-item active" aria-current="page">Department</li>
										</ol>
									</nav>
								</div>
								<!-- Breadcrumb -->
								<!-- table-area  -->
								{% block page %}
								{% endblock%}
								<!-- table-area  -->
							</div>
						</div>
						<!-- main-contents -->
					</div>
				</div>
			</div>
		</section>
		<!-- Js script links-->
		{% block js %}

		{% endblock %}
		{% include "partials/__js.html" %}
	</body>
</html>